/* helperスタイル */
/************************************************/
// スタイル補助に用いる。!important推奨。keyvalueの形で省略化。
// 余白クラス（for文で量産）
$spaceClass: true !default;
$spacePadding: false !default;
$space_endValue: 15 !default;

@if $spaceClass {
	@for $i from 0 through $space_endValue {
		.hp_mt#{$i * 10} {
			margin-top: 10px * $i !important;
		}
		.hp_mb#{$i * 10} {
			margin-bottom: 10px * $i !important;
		}
		@if $spacePadding {
			.hp_pt#{$i * 10} {
				padding-top: 10px * $i !important;
			}
			.hp_pb#{$i * 10} {
				padding-bottom: 10px * $i !important;
			}
		}
	}
}

// ios100vh対策
.hp_100vh {
	min-height: calc(var(--vh, 1vh) * 100);
}
.hp_100vh_top {
	@include maxmq(tab) {
		height: auto;
	}
	min-height: calc(var(--vh, 1vh) * 100);
}

// 改行制御
.hp_brPc {
	@include maxmq(sp) {
		display: none;
	}
}
.hp_brTab {
	@include minmq(tab) {
		display: none;
	}
}
.hp_brSp {
	@include minmq(sp) {
		display: none;
	}
}
