.el_cmponent_ttl {
	@include maxmq(sp) {
		margin: 120px auto 0;
		width: 174px;
	}
	margin-top: 212px;
	width: 255px;
}

.el_cmponent_subttl {
	@include maxmq(sp) {
		margin: 32px auto 0;
		width: 288px;
	}
	line-height: 1.5em;
	margin-top: 44px;
	width: 383px;
}

.el_cmponent_txt {
	@include maxmq(tab) {
		line-height: calc(32 / 15);
		margin-top: 40px;
		width: 100%;
	}
	line-height: calc(36 / 16);
	margin-top: 50px;
	width: 447px;
}

.bl_cmponent_list {
	@include maxmq(tab) {
		margin: 0 auto;
		width: 75%;
	}
	margin-left: auto;
	width: 323px;
}

.el_cmponent_team {
	font-size: rem(22);
	margin-left: 20px;
	position: relative;;
}

.ly_cmponent_block {
	@include maxmq(sp) {
		margin-top: 0;
	}
	margin-top: 50px;
}

.ly_cmponent_block .el_cmponent_team::before {
	left: -80px;
	position: absolute;
	top: -5px;
}

.ly_cmponent_block:nth-of-type(1)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/01.png);
}
.ly_cmponent_block:nth-of-type(2)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/02.png);
}
.ly_cmponent_block:nth-of-type(3)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/03.png);
}
.ly_cmponent_block:nth-of-type(4)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/04.png);
}
.ly_cmponent_block:nth-of-type(5)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/05.png);
}
.ly_cmponent_block:nth-of-type(6)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/06.png);
}

.el_cmponent_discription {
	font-size: rem(14);
	@include maxmq(tab) {
		font-size: rem(12);
		margin-top: 20px;
	}
	line-height: calc(31 /14);
	margin: 48px 0 0 30px;
}

.el_cmponent_img {
	margin-top: 20px;
}
