.el_how_ttl {
	@include maxmq(sp) {
		font-size: rem(18);
		margin-top: 114px;
	}
	margin: 0 auto;
	margin-top: 204px;
	position: relative;
	width: 144px;
}

.el_how_ttl::after {
	content: url(../../../public/assets/img/how_to_use/ttl_sub.png);
	position: absolute;
	right: -110px;
	top: -70px;
}
@include maxmq(sp) {
	.el_how_ttl::after {
		content: url(../../../public/assets/img/how_to_use/ttl_spsub.png);
		position: absolute;
		right: -60px;
		top: -50px;
	}
}

.el_how_subttl {
	font-size: rem(40);
	@include maxmq(sp) {
		font-size: rem(30);
		margin-top: 54px;
	}
	line-height: 1.5em;
	margin-top: 68px;
	text-align: center;
}
