#influence {
	margin: 0 -250px 130px;
	max-width: 1600px;
	@media screen and (max-width: 1600px) {
		margin: 0 0 130px 0;
	}
}

@include maxmq(sp) {
	#influence {
		margin-bottom: 50px;
	}
}

.el_influence_ttl {
	@include maxmq(sp) {
		margin: 140px auto 0;
		width: 280px;
	}
	margin: 307px auto 0;
	text-align: center;
	width: 337px;
}
.bl_influence_block {
	@include maxmq(tab) {
		margin: 60px auto 0;
		width: 266px;
	}
	margin: 0 auto;
	margin-top: 90.5px;
	width: 743px;
}

.el_influence_span {
	display: block;
	margin: 5px 10px 0 0;
}

.bl_influence_flex {
	display: flex;
}
.bl_influence_flex:nth-of-type(2) {
	margin-top: 8px;
}

.el_influence_list {
	background-color: #fff7ea;
	border-radius: 10px;
	color: $fontcolor_accent;
	margin-right: 10px;
	padding: 12px 0;
	text-align: center;
	width: 130px;
}

.el_influence_subttl {
	@include maxmq(sp) {
		width: 266px;
	}
	margin: 0 auto;
	margin-top: 42px;
	width: 539px;
}


.influence_gradient {
	text-align: center;
}

.bl_influence_wrapper {
	background-image: url(../../../public/assets/img/Influence/influence_bg.jpg);
	margin-top: 102px;
	padding: 200px 250px 0;
	@media screen and (max-width: 1600px) {
		margin-top: 52px;
		padding: 150px 50px 0;
	}
}
#influence .bl_influence_wrapper {
	@include maxmq(sp) {
		padding: 100px 30px 50px;
	}
}

.bl_influence_container {
	display: flex;
	@include maxmq(tab) {
		flex-direction: column;
	}
}

.bl_influence_container:first-of-type {
	@include maxmq(sp) {
		margin-top: 0;
	}
	margin-top: 40px;
}
.bl_influence_container:not(:first-of-type) {
	margin-top: 160px;
}
.bl_influence_container:nth-of-type(2) {
	flex-direction: row-reverse;
	@include maxmq(tab) {
		flex-direction: column;
	}
	@include maxmq(sp) {
		flex-direction: column;
	}
}

.bl_influence_txt {
	@include maxmq(tab) {
		width: 100%;
	}
	width: 50%;
}

.el_influence_img {
	@include maxmq(tab) {
		margin-top: 50px;
		width: 100%;
	}
	width: 50%;
}

.bl_influence_container:last-of-type .el_influence_img {
	@include maxmq(tab) {
		margin-top: -100px;
	}
	@include maxmq(xs) {
		margin-top: -50px;
	}
}

.el_influence_point_ttl {
	@include maxmq(sp) {
		margin-bottom: 32px;
		width: 304px;
	}
	margin-bottom: 43px;
	width: 473px;
}
// 	font-size: rem(32);
// 	@include maxmq(tab) {
// 		font-size: rem(26);
// 		text-align: center;
// 	}
// 	@include maxmq(sp) {
// 		font-size: 6vw;
// 		text-align: center;
// 	}
// 	line-height: calc(52 / 35);
// 	position: relative;
// }

// .bl_influence_container .el_influence_point_ttl::before {
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	content: "";
// 	height: 152px;
// 	left: -70px;
// 	position: absolute;
// 	top: -100px;
// 	width: 230px;
// 	@media screen and (max-width: 1600px) {
// 		left: 0;
// 		top: -100px;
// 	}
// }

// @media screen and (max-width: 480px) {
// 	.bl_influence_container .el_influence_point_ttl::before {
// 		height: 70px;
// 		top: -60px;
// 		width: 140px;
// 	}
// }

// .bl_influence_container:nth-of-type(1) .el_influence_point_ttl::before {
// 	background-image: url(../../../public/assets/img/Influence/point01.png);
// }
// .bl_influence_container:nth-of-type(2) .el_influence_point_ttl::before {
// 	background-image: url(../../../public/assets/img/Influence/point02.png);
// }
// .bl_influence_container:nth-of-type(3) .el_influence_point_ttl::before {
// 	background-image: url(../../../public/assets/img/Influence/point03.png);
// }

.el_influence_point_txt {
	font-weight: 300;
	@include maxmq(sp) {
		font-size: rem(14);
		line-height: calc(24 / 12);
	}
	@include maxmq(tab) {
		line-height: calc(26 / 12);
		margin-top: 32px;
	}
	line-height: calc(36 / 12);
}
