#influence {
	margin: 0 -250px 130px;
	max-width: 1600px;
	@media screen and (max-width: 1600px) {
		margin: 0 0 130px 0;
	}
}

@include maxmq(sp) {
	#influence {
		margin-bottom: 50px;
	}
}

.el_influence_ttl {
	@include maxmq(sp) {
		margin: 140px auto 0;
		width: 280px;
	}
	margin: 307px auto 0;
	text-align: center;
	width: 337px;
}
.bl_influence_block {
	@include maxmq(tab) {
		margin: 60px auto 0;
		width: 266px;
	}
	margin: 0 auto;
	margin-top: 90.5px;
	width: 743px;
}

.el_influence_span {
	display: block;
	margin: 5px 10px 0 0;
}

.bl_influence_flex {
	display: flex;
}
.bl_influence_flex:nth-of-type(2) {
	margin-top: 8px;
}

.el_influence_list {
	background-color: #fff7ea;
	border-radius: 10px;
	color: $fontcolor_accent;
	margin-right: 10px;
	padding: 12px 0;
	text-align: center;
	width: 130px;
}

.el_influence_subttl {
	@include maxmq(sp) {
		width: 266px;
	}
	margin: 0 auto;
	margin-top: 42px;
	width: 539px;
}


.influence_gradient {
	text-align: center;
}

.bl_influence_wrapper {
	background-image: url(../../../public/assets/img/Influence/influence_bg.jpg);
	@include maxmq(tab) {
		padding: 100px 50px 0;
	}
	@include maxmq(sp) {
		padding: 50px 50px 0;
	}
	margin-top: 102px;
	padding: 200px 250px 0;
	@media screen and (max-width: 1600px) {
		margin-top: 52px;
		padding: 50px 50px 0;
	}
}
#influence .bl_influence_wrapper {
	@include maxmq(sp) {
		padding: 100px 30px 50px;
	}
}

.bl_influence_container {
	display: flex;
	@include maxmq(tab) {
		flex-direction: column;
	}
}

.bl_influence_container:first-of-type {
	@include maxmq(sp) {
		margin-top: 0;
	}
	margin-top: 40px;
}
.bl_influence_container:not(:first-of-type) {
	@include maxmq(sp) {
		margin-top: 60px;
	}
	margin-top: 160px;
}
.bl_influence_container:nth-of-type(2) {
	flex-direction: row-reverse;
	@include maxmq(tab) {
		flex-direction: column;
	}
	@include maxmq(sp) {
		flex-direction: column;
	}
}

.bl_influence_txt {
	@include maxmq(tab) {
		width: 100%;
	}
	width: 50%;
}

.el_influence_img {
	@include maxmq(tab) {
		margin-top: 50px;
		width: 100%;
	}
	width: 50%;
}

.bl_influence_container:last-of-type .el_influence_img {
	@include maxmq(tab) {
		margin-top: -100px;
	}
	@include maxmq(xs) {
		margin-top: -50px;
	}
}

.el_influence_point_ttl {
	@include maxmq(tab) {
		margin: 0 auto 32px;
		width: 500px;
	}
	@include maxmq(sp) {
		margin: 0 auto 32px;
		width: 304px;
	}
	margin-bottom: 43px;
	width: 473px;
}


.el_influence_point_txt {
	font-weight: 300;
	@include maxmq(tab) {
		line-height: calc(30 / 14);
		margin: 0;
	}
	@include maxmq(sp) {
		font-size: rem(14);
	}
	line-height: calc(36 / 16);
	margin-left: 70px;
}


@include minmq(tab) {
	.bl_influence_container:nth-of-type(1) .bl_influence_txt {
		position: relative;
	}
	.bl_influence_container:nth-of-type(1) .bl_influence_txt::after {
		bottom: -150px;
		content: url(../../../public/assets/img/Influence/arrow.png);
		position: absolute;
		right: 0;
	}
	.bl_influence_container:nth-of-type(2) .bl_influence_txt {
		position: relative;
	}
	.bl_influence_container:nth-of-type(2) .bl_influence_txt::after {
		bottom: -200px;
		content: url(../../../public/assets/img/Influence/arrow2.png);
		left: 0;
		position: absolute;
	}
}

@include maxmq(tab) {
	.bl_influence_container:nth-of-type(2) .bl_influence_txt {
		position: relative;
	}
	.bl_influence_container:nth-of-type(2) .bl_influence_txt::before {
		content: url(../../../public/assets/img/Influence/arrow_sp.png);
		position: absolute;
		right: 0;
		top: -40px;
	}

	.bl_influence_container:nth-of-type(3) .bl_influence_txt {
		position: relative;
	}
	.bl_influence_container:nth-of-type(3) .bl_influence_txt::before {
		content: url(../../../public/assets/img/Influence/arrow_sp.png);
		position: absolute;
		right: 0;
		top: -40px;
	}
}
