// 背景
// #questionnaire {
// 	position: relative;
// }
// #questionnaire::before {
// 	content: url(../../../public/assets/img/bg/bg5.png);
// 	@include z-index(bg);
// 	left: -800px;
// 	position: absolute;
// 	top: -200px;
// }
// #questionnaire::after {
// 	content: url(../../../public/assets/img/bg/bg6.png);
// 	@include z-index(bg);
// 	position: absolute;
// 	right: -700px;
// 	top: 1500px;
// }

.el_questionnaire_ttl {
	@include maxmq(sp) {
		margin-top: 114px;
	}
	margin: 160px auto 0;
	position: relative;
	width: 265px;
}

.el_questionnaire_ttl::after {
	content: url(../../../public/assets/img/questionnaire/ttlsub.png);
	position: absolute;
	right: -110px;
	top: -70px;
}
@include maxmq(sp) {
	.el_questionnaire_ttl::after {
		content: url(../../../public/assets/img/questionnaire/ttlsub_sp.png);
		position: absolute;
		right: -60px;
		top: -50px;
	}
}


.el_questionnaire_subttl {
	@include maxmq(sp) {
		margin-top: 54px;
		width: 280px;
	}
	margin: 68px auto 0;
	width: 656px;
}

.questionnaire_container {
	@include maxmq(sp) {
		margin-top: 64px;
		padding: 0 30px;
	}
	margin-top: 114px;
}
