.ly_slider {
	display: none;
}

@include maxmq(tab) {
	.ly_slider {
		display: block;
		height: 700px;
		width: 100%;
	}
	.ly_carousel_container {
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	// ********カルーセルスライドレール表示枠**********
	.bl_carousel_rail {
		display: flex;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	// ********カルーセルスライド**********
	.ly_slide_block {
		margin-top: 50px;
		min-width: 100%; // min-width100％でflex-container内に収めない
	}

	// ********スライドナビゲーション**********
	.bl_slideNav {
		bottom: 30px;
		display: flex;
		@include maxmq(sp) {
			bottom: 9px;
		}
		justify-content: space-between;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 84px;

		.el_slideNav_btn {
			// border: 1px solid $main_color;
			border-radius: 50%;
			flex-basis: 9px;
			height: 9px;
		}
	}

	.ly_cmponent_block {
		display: none;
	}
}

@media screen and (max-width: 780px) {
	.ly_slider {
		height: 600px;
	}
}

@include maxmq(sp) {
	.ly_slider {
		height: 500px;
	}
}

.ly_slide_block:nth-of-type(1)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/01.png);
}
.ly_slide_block:nth-of-type(2)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/02.png);
}
.ly_slide_block:nth-of-type(3)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/03.png);
}
.ly_slide_block:nth-of-type(4)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/04.png);
}
.ly_slide_block:nth-of-type(5)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/05.png);
}
.ly_slide_block:nth-of-type(6)  .el_cmponent_team::before {
	content: url(../../../public/assets/logo/cmponent/06.png);
}
