/* layoutModule */
/************************************************/
// メイン
.ly_main {
	@include maxmq(sp) {
		padding: 150px 20px 0;
	}
	margin: 0 auto;
	max-width: 1160px;
	padding: 150px 30px 30px 30px;
}

// FV
.ly_fv {
	@include maxmq(sp) {
		padding: 20px 20px 0 20px;
	}
	margin: 0 calc(50% - 50vw);
	padding: 50px 50px 0 50px;
	position: relative;
	width: 100vw;
}

.ly_fvBg {
	align-items: center;
	display: flex;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.ly_logo {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 211px;
	@include z-index(logo);
	@include maxmq(sp) {
		height: 116px;
		position: absolute;
		width: 116px;
	}
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 211px;
}

// ハンバーガーボタン
.ly_hamburgerbtn {
	align-items: center;
	background-color: #444;
	display: flex;
	height: 120px;
	@include maxmq(sp) {
		height: 70px;
		width: 70px;
	}
	@include z-index(hamburgerIcon);
	justify-content: center;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 120px;
}


// ヘッダー
.ly_header {
	background: #fff;
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.ly_header.is_open {
	height: 200vh;
	@include z-index(header);
	overflow-x: hidden;
	overflow-y: scroll;
}

.ly_header_inner {
	align-items: center;
	display: flex;
	@include maxmq(sp) {
		padding: 80px 0;
	}
	justify-content: center;
	overflow-y: scroll;
	padding: 100px 0;
}
.ly_header_inner::before {
	background-image: url(../../../public/assets/img/bg/bg1-1.png);
	content: "";
	height: 900px;
	left: -600px;
	position: absolute;
	top: -300px;
	width: 980px;
}
.ly_header_inner::after {
	background-image: url(../../../public/assets/img/bg/bg1-2.png);
	bottom: -300px;
	content: "";
	height: 900px;
	@include z-index(bg);
	position: absolute;
	right: -500px;
	width: 980px;
}

// モーダル内
.ly_modal_flex {
	display: flex;
	flex-direction: column;
}
.ly_header_cv_btn {
	display: flex;
	@include maxmq(tab) {
		flex-direction: column;
		padding-bottom: 200px;
		width: 80%;
	}
}

// TOP
.ly_top {
	@include maxmq(tab) {
		padding: 80px 0;
	}
	padding: 140px 0;
	// position: relative;
}

// 背景
// .ly_top::after {
// 	content: url(../../../public/assets/img/bg/bg1.png);
// 	@include z-index(bg);
// 	position: absolute;
// 	right: -500px;
// 	top: 100px;
// }
// .ly_top::before {
// 	content: url(../../../public/assets/img/bg/bg2.png);
// 	@include z-index(bg);
// 	left: -500px;
// 	position: absolute;
// 	top: 1000px;
// }

@include maxmq(tab) {
	.ly_top::after {
		right: -600px;
		top: 500px;
	}
}

.ly_top_wrap {
	display: flex;
	@include maxmq(tab) {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	position: relative;
}

// cmponent
.ly_cmponent_wrapper {
	display: flex;
	flex-wrap: wrap;
	// position: relative;
}

// .ly_cmponent_wrapper::before {
// 	content: url(../../../public/assets/img/bg/bg3.png);
// 	@include z-index(bg);
// 	left: -500px;
// 	position: absolute;
// 	top: -1200px;
// }
// .ly_cmponent_wrapper::after {
// 	content: url(../../../public/assets/img/bg/bg4.png);
// 	@include z-index(bg);
// 	position: absolute;
// 	right: -700px;
// 	top: -500px;
// }

.ly_cmponent_block {
	width: 45%;
}

.ly_cmponent_block:not(:last-of-type) {
	margin-left: auto;
}

.ly_cmponent_block:nth-of-type(even) {
	margin: -150px 0 0 0;
}

.ly_cmponent_block:last-of-type {
	margin-top: -250px;
}


// about
.ly_about {
	margin: 0 auto;
	max-width: 1700px;
	padding: 0 30px;
}

@include minmq(sp) {
	.el_close_btn {
		display: none;
	}
}
.el_close_btn {
	font-size: rem(14);
	margin-top: 70px;
	padding: 10px 0;
	text-align: center;
}
