// テキストカラー //////////////////////////////
// 基本テキストカラー
$fontcolor_main: #444;
$fontcolor_accent: #e6aa37;

// 背景 //////////////////////////////
$bg_color: #fff;

// ボタン //////////////////////////////
$btn_color: #000;
$btn_cv: #e6aa37;
